<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<u1> Pokemons
    <% @pokemons.each do |pokemon| %>
        <li> <%=pokemon.name %>, Level: <%=pokemon.level%></li>
    <% end %>
</u1>
